{% extends 'base.html' %}
{% block main_content %}
<h1>This is createpage</h1>
<br>
<div class="row">
  <div class="col-lg-6">
      <h2>  &nbsp Here's Your Concepts</h2>
      <br>
      <div class="list-group">
        <a href="#" class="list-group-item" style="text-decoration: none">
            <input class="list-group-item-heading form-control"/>
            <br>
            <textarea class="list-group-item-text form-control" rows="5" id="comment"></textarea>
            <br>
            <button class="btn btn-success right" style="float:right">確認修改</button>
        </a>
        <a class="list-group-item" style="text-decoration: none; color: black">
          <h4 class="">Second List Group Item Heading<span style="float: right" class="btn btn-link">編輯</span></h4>
            <p class="list-group-item-text">\[\sin\]This is a try \(\sin x^2\).<br> Typing \(\LaTeX\) is a lot of fun.
            \[\nabla \times E = B\]
            </p>
        </a>
        <a href="#" class="list-group-item" style="color: black">
          <h4 class="list-group-item-heading">Third List Group Item Heading<span style="float: right" class="btn btn-link">編輯</span></h4>
          <p class="list-group-item-text">List Group Item Text</p>
        </a>
      </div>
  </div>
  <div class="col-lg-6">
        <h2> &nbsp Here's the Connections</h2>
      <br>
      <div class="list-group">

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">First List Group Item Heading</h4>
            <p class="list-group-item-text">List Group Item Text</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Second List Group Item Heading</h4>
            <p class="list-group-item-text">List Group Item Text</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
          <p class="list-group-item-text">List Group Item Text</p>
        </a>
      </div>
  </div>
</div>

{% endblock %}


<!--<div class="panel-group">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">Panel with panel-default class</div>-->
      <!--<div class="panel-body">Panel Content</div>-->
    <!--</div>-->

    <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">Panel with panel-primary class</div>-->
      <!--<div class="panel-body">Panel Content</div>-->
    <!--</div>-->

    <!--<div class="panel panel-success">-->
      <!--<div class="panel-heading">Panel with panel-success class</div>-->
      <!--<div class="panel-body">Panel Content</div>-->
    <!--</div>-->

    <!--<div class="panel panel-info">-->
      <!--<div class="panel-heading">Panel with panel-info class</div>-->
      <!--<div class="panel-body">Panel Content</div>-->
    <!--</div>-->

    <!--<div class="panel panel-warning">-->
      <!--<div class="panel-heading">Panel with panel-warning class</div>-->
      <!--<div class="panel-body">Panel Content</div>-->
    <!--</div>-->

    <!--<div class="panel panel-danger">-->
      <!--<div class="panel-heading">Panel with panel-danger class</div>-->
      <!--<div class="panel-body">Panel Content</div>-->
    <!--</div>-->
  <!--</div>-->