
{% extends 'base.html' %}
{% block main_content %}
    <div class="center container">
        {% if user.is_authenticated %}
            <h2>Hi, <strong>{{ user.username }}</strong> </h2>
            <br>
            <a class="btn btn-success account" href="{% url 'logout' %}">登出</a>
        {% else %}
            <h2>Hi, <strong>親愛的訪客</strong> </h2>
            <br>
            <a class="btn btn-success account" href="{% url 'signup' %}" style="text-decoration: none">註冊</a>
            &nbsp&nbsp
            <a class="btn btn-success account" href="{% url 'login' %}" style="text-decoration: none">登入</a>
        {% endif %}
    </div>
{% endblock %}


