
{% extends 'base.html' %}
{% block main_content %}
    <h1>To Know</h1>
    <p id="author">yukimoto<br></p>
    <div class="center">
        {% if user.is_authenticated %}
            <h3>Hi, <strong>{{ user.username }}</strong> </h3>
            <p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
            <p><a href="{% url 'login' %}">Log In </a></p>
        {% endif %}
    </div>
    <a href="{% url 'fake' %}"><h2>Click Me</h2></a>
    </div>
    <br>
    <div id="container" class="">
        <div id="content">
            {% for mm in m %}
                <div class="msg">
                    <span class="name">{{mm.talker}}</span>
                    {{mm.message}}
                </div>
            {% endfor %}
        </div>
        <div id="send-box">
            <form id="send-form" action="{% url 'talkto' %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            <p>沒填寫暱稱就會是帳號喔</p>
        </div>
    </div>
{% endblock %}


