
{% extends 'base.html' %}
{% block main_content %}
    <h1>To Know</h1>
    <p id="author">yukimoto<br></p>

    <a href="{% url 'fake' %}"><h2>Click Me</h2></a>
    <h2>Features To Realize</h2>
    <div class="center">
        <p>Basic Units</p>
        <ul>
            <li>Task</li>
            <li>Container</li>
        </ul>
        <p>Sorting Ways</p>
        <ul>
            <li>Tags</li>
            <li>Place</li>
            <li>People</li>
            <li>Time (defer, due, any)</li>
            <li>Stage and Status</li>
        </ul>
    </div>
    <div id="container" class="">
        <div id="content">
            {% for mm in m %}
                <div class="msg">
                    <span class="name">{{mm.talker}}</span>
                    {{mm.message}}
                </div>
            {% endfor %}
        </div>
        <div id="send-box">
            <form id="send-form" action="{% url 'talkto' %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
        </div>
    </div>
{% endblock %}


